.chat-date {
    text-align: center;
    color: var(--gray);
    font-size: 12px;
    margin: 40px 0;
}

.chat-message {
    padding: 11px;
    font-size: 12px;
    display: block;
    margin-bottom: 30px;
    min-width: 110px;
    max-width: 400px;

    &.receive {
        border-radius: var(--border-radius-12);
        border-top-left-radius: 0;
        background: var(--gray-bg);
    }

    &.send {
        background: var(--blue-message-bg);
        border-radius: var(--border-radius-12);
        border-bottom-right-radius: 0;
        margin-left: auto;
        width: 100px;

        .chat-message-date {
            margin-top: 0;
            color: var(--primary-blue);
        }
    }

    .chat-message-date {
        text-align: right;
        color: var(--gray);
        font-size: 9px;
        margin-top: 9px;
    }
}
