.button-primary {
  background: var(--primary-blue);
  width: 100%;
  height: 37px;
  font-size: 13px;
  line-height: 1;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-8);
  color: var(--white);
}
