.container-grid-profile {
  display: grid;
  grid-template-columns: 63px 1fr;
  height: 100vh;
}

.profile {
  margin-top: 60px;

  a {
    padding: 10px;
    color: var(--primary-blue);
    display: block;
    text-align: center;
    font-size: 13px;
  }

  .form-main {
    box-shadow: none;
    margin: 0 auto;
  }
}
