.profile {
    a {
        padding: 10px;
        color: var(--primary-blue);
        display: block;
        text-align: center;
        font-size: 13px;

        &:last-child {
            color: var(--red);
        }
    }

    .form-main {
        box-shadow: none;
        margin: 0 auto;
    }
}
