.Error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p:first-child  {
        font-size: 40px;
        margin-bottom: 20px;
    }

    p:nth-child(2)  {
        font-size: 20px;
        margin-bottom: 70px;
    }

    a {
        color: var(--primary-blue);
        font-size: 11px;
    }
}