:root {
  --primary-blue: #3369f3;
  --white: #fff;
  --box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  --border-radius-12: 12px;
  --border-radius-8: 8px;
  --gray: #999;
  --gray-bg: #efefef;
  --red: #ff2f2f;
  --black: #1e1e1e;
  --gray-border: #eaeaea;
  --blue-message-bg: #e4edfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  color: #1e1e1e;
  font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

#root {
  position: relative;
  min-height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"] {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

a {
  text-decoration: none;
}
