.Profile {
    padding-top: 60px;

    form > label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        input[type="file"] {
            opacity: 0;
            position: absolute;
        }
    }
}