.Grid {
    display: grid;
    grid-template-columns: 63px 1fr;
    height: 100vh;

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gray-bg);
        border-right: 1px solid #EAEAEA;

        svg {
            fill: var(--primary-blue);
        }
    }
}